body {
    background-image: url('C:\Users\Han Ming (Henry)\Documents\my-official-profile-website\src\homepage_images\galaxy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.common-box {
    display: flex;
    align-items: center;
    background-color: #000;
    background: radial-gradient(circle, #0072ff, #00c6ff);
    border: 2px solid #ffcc00;
    color: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;
  }

.common-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

  .common-image {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    border: 4px solid white;
  }

  .common-text {
    flex-grow: 1;
  }

  .common-text h2 {
    margin-bottom: 10px;
  }

  .common-text p {
    font-size: 16px;
    line-height: 1.5;
  }
